<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Priemera pagina</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, reiciendis! Adipisci ea itaque possimus eum voluptates. Porro, architecto, perspiciatis placeat rem esse, temporibus dolorum perferendis quam amet reiciendis facere dicta!
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod est impedit minima tenetur laboriosam consequatur ducimus fugiat accusamus quia, nesciunt, sed aliquam explicabo eius nemo repellendus cum illum odit earum?
    </p>
</body>
</html>